{% extends 'base.html' %}

{% block content %}
<form action="" method='post'>
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" and field.name != "submit" %}      
        <div class="form-group">
            {{ field.label() }}
            {{ field }}
        </div>
        {% for error in field.errors%}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    {% endfor %}
  <button type="submit" class="btn btn-primary">{{ form.submit }}</button>
</form> 
{% endblock %}