{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/login">
	<section>
    <div class="form-box">
        <div class="form-value">
            <form action="mailto:DenielMorozov@yandex.com" method="POST"  class="price-form">
                <h2>Login</h2>
                <div class="inputbox">
                    <input type="email" name="Email" required id="name">
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" name="Password" required id="password">
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Запомни меня <a href="#">Забыть меня</a></label>
                    
                </div>
                <button type="submit" id="price-action">Log in</button>
                <div class="register">
                    <p>У вас нет учетной записи для <a href="#">регистрации</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>
</form> 

{% endblock %}