{% extends 'base.html' %}

{% block title %} Информация {% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Информационный блок</h1>
        <p class="lead">Создано для образовательных целей. Доступно к пользованию для каждого желающего.<br> 
            Возможно будущее расширения, для удобноства пользования автора.
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Больше информации</a>
        </p>
    </main>
</div>
{% endblock %}