form {
   font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
   border: 1px solid black;/*Цвет, размер и тип границы */
   border-radius: 20px;/*Скругляем углы */
   color: #777991;/*Цвет label */
   width: 25%; /*Ширина формы */
   margin-right: auto; /*Положение формы */
   margin-left: auto; /*Положение формы */
   text-align: center; /*Центровка текста*/

}

input[type=text], input[type=password] {
   text-align: center; /*Центровка текста*/
   border-radius: 4px;/*Скругляем углы */
   width: auto; /*Ширина */
   padding: 15px 20px; /*Размер внутренних отступов*/
   margin: 10px 0; /*Размер внешних отступов*/
   margin-right: auto; /*Размер внешних отступов справа*/
   margin-left: auto; /*Размер внешних отступов слева*/
   display: block; /*тип отображения*/
   border: 1px solid #050c26;/*Цвет, размер и тип границы */
   box-sizing: border-box; /*Размер объекта по отношению к родительскому */
   font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
   color: #777991;/*Цвет текста в input */  
}

button {
   font: 16px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
   background-color: #454cee; /*Выбираем цвет фона */
   border-radius: 8px; /*Закругление */
   color: white; /*Выбираем цвет текста*/
   padding: 16px 20px; /*Размер внутренних отступов*/
   margin: 8px 0;/*Размер внешних отступов*/
   border: none; /*Без границы*/
   cursor: pointer; /*Изменение курсора при наведении на кнопку*/
   width: auto; /*Ширина*/
}

button:hover { 
   opacity: 0.9; /*Изменение яркости кнопки при наведении*/
}

.container {
   padding: 20px; /*Размер внутренних отступов контейнера*/
}